<% include ../layouts/header2.ejs %>

<div class="grid">
	<div class="unit w-1-1">
		<h3>Local Signup</h3>
	</div>
</div>

<div class="grid">
	<div class="unit w-1-1">

		<form method="post">
			<label for="email">Email:</label>
			<input type="text" name="email">
			<label for="password">Password:</label>
			<input type="password" name="password">
			<input type="submit" value="Sign Up">
		</form>
	</div>
</div>

<div class="grid">
	<div class="unit w-1-1">
		<a href="/">Back</a>
	</div>
</div>

<% include ../layouts/footer2.ejs %>