	</div>
</div>

	<script src="/javascripts/external/jquery-1.7.1.min.js"></script>

	<script>

		$(function () {
			$('#buyurlBtn').click(function () {
				$('#buyurlIframe').attr('src', $('#buyurlInput').val());
			});
		});

	</script>
</body>
</html>