		<br>	
		<h6 class="section-title">Shopping Links</h6>
		<hr>
		<div class="shoppinglinks">
			<a href="http://taobao.com" target="blank"><img src="/images/link1.png"></a>
			<a href="http://jd.com" target="blank"><img src="/images/link2.png"></a>
			<a href="http://1688.com" target="blank"><img src="/images/link3.png"></a>
			<a href="http://dangdang.com" target="blank"><img src="/images/link4.png"></a>
			<a href="http://amazon.cn" target="blank"><img src="/images/link5.png"></a>
			<a href="http://1mall.com" target="blank"><img src="/images/link6.png"></a>
		</div>
	</section>

	<footer id="footer" class="clearfix">
		<div class="container">
			<div class="three-fourth">
				<nav id="footer-nav" class="clearfix">
					<ul>
						<li><a href="/">Home</a></li>
						<li><a href="/home/companyprofile">Company Profile</a></li>
						<li><a href="/home/purchasingservices">Purchasing Services</a></li>
						<li><a href="/home/transportservices">Transport Services</a></li>
						<li><a href="/home/terms">Terms</a></li>	
						<li><a href="/home/contact">Contact Us</a></li>
					</ul>
				</nav><!-- end #footer-nav -->
				<ul class="contact-info">
					<li class="phone">012-3320043</li>
					<li class="email"><a href="mailto:assist@tiptoe.my">assist@tiptoe.my</a></li>
				</ul><!-- end .contact-info -->
			</div><!-- end .three-fourth -->
			<div class="one-fourth last">
				<span class="title">Stay connected</span>
				<ul class="social-links">
					<li class="facebook"><a href="https://www.facebook.com/tiptoeassist" target="blank">Facebook</a></li>
					<li class="skype"><a href="/home/skype">Skype</a></li>
				</ul><!-- end .social-links -->
			</div><!-- end .one-fourth.last -->
		</div><!-- end .container -->
	</footer>


	<script src="/javascripts/external/jquery-1.7.1.min.js"></script>
	<script src="/javascripts/external/jquery-ui.min.js"></script>
	<script src="/javascripts/external/jquery.smartStartslider.min.js"></script>
	<script src="/javascripts/external/bootstrap.js"></script>
</body>
</html>