<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title></title>
	<link rel="stylesheet" href="/stylesheets/style.css">

	<meta property="og:site_name" content="Tiptoe.my 淘宝代购"/>
	<meta property="og:url" content="http://tiptoe.my"/>
	<meta property="og:title" content="欢迎来到tiptoe.my － 您的网购伙伴"/>	
	<meta property="og:type" content="website" /> 
	<meta property="og:image" content="http://tiptoe.my/img/website.png"/> 
</head>
<body>
	<header id="header" class="container clearfix">
		<a href="index.html" id="logo">
			</a><a href="/"><img src="/images/logo.jpg" alt="Home"></a>	
		<nav id="main-nav">
			<ul>

				<li class="current"><a href="/">首页</a></li>
				<li class=""><a href="/home/companyprofile">关于我们</a></li>
				<li class=""><a href="/home/purchasingservices">代购服务</a></li>
				<li class=""><a href="/home/transportservices">代运服务</a></li>				
				<li class=""><a href="/home/terms">用户需知</a></li>			
				<li class=""><a href="/home/contact">联系我们</a></li>
				

			</ul>
		</nav><!-- end #main-nav -->	
	</header>

	<section id="content" class="container clearfix">
		<div class="align-right">
			<!-- Login and Register -->
			<a href="/members/login" class="button">登入</a>		
			<a href="/members/register" class="button">注册</a>
			<!-- End Login and Register -->
		</div>
		<br>
		<br>