<% include ../layouts/header.ejs %>
<h3>hei, you saw me</h3>

<div class="grid">
	<div class="unit w-1-5">
		<a href="/auth/local-login">Local Login</a><br>
		<a href="/auth/local-signup">Local Signup</a>
	</div>
	<div class="unit w-1-5">
		<a href="/auth/facebook-login">Facebook Login</a>
	</div>
	<div class="unit w-1-5">
		<a href="/auth/google-login">Google Login</a>
	</div>
	<div class="unit w-1-5">
		<a href="/auth/profile">Profile</a>
	</div>
</div>

<br>	
<h6 class="section-title">Shopping Links</h6>
<hr>
<div class="shoppinglinks">
	<a href="http://taobao.com" target="blank"><img src="/images/link1.png"></a>
	<a href="http://jd.com" target="blank"><img src="/images/link2.png"></a>
	<a href="http://1688.com" target="blank"><img src="/images/link3.png"></a>
	<a href="http://dangdang.com" target="blank"><img src="/images/link4.png"></a>
	<a href="http://amazon.cn" target="blank"><img src="/images/link5.png"></a>
	<a href="http://1mall.com" target="blank"><img src="/images/link6.png"></a>
</div>

<% include ../layouts/footer.ejs %>